<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <img src="http://codenpixel.com/demo/kupon2/images/logo-dark.png" alt="#" class="img-responsive logo">
        <p>
          Kupon,travel deals & publishing,with minimal design. We provide you with the latest fresh inspiration straight from the industrie.
        </p>
      </div>
      <div class="col-sm-4">
        <h5>
          COMMON placeS
        </h5>
        <ul class="places">
          <li>
            <a href="#" class="place">
              Vacation
            </a>
          </li>
          <li>
            <a href="#" class="place">
              Rentals
            </a>
          </li>
          <li>
            <a href="#" class="place">
              Deals
            </a>
          </li>
          <li>
            <a href="#" class="place">
              Travel deals
            </a>
          </li>
          <li>
            <a href="#" class="place">
              Vacation deals
            </a>
          </li>
          <li>
            <a href="#" class="place">
              Adriatic coast
            </a>
          </li>
          <li>
            <a href="#" class="place">
              Europe
            </a>
          </li>
          <li>
            <a href="#" class="place">
              Island
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h5>
          CATEGORIES
        </h5>
        <ul class="list-unstyled categories">
          <li> <a href="#"> Rental Service </a> </li>
          <li> <a href="#"> Repair </a> </li>
          <li> <a href="#"> Hire for a Month </a> </li>
          <li> <a href="#"> Hire for Construction  </a> </li>
          <li> <a href="#"> Towing Service </a> </li>
          <li> <a href="#"> Customer Service</a> </li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h5>
          ABOUT US
        </h5>
        <ul class="list-unstyled categories">
          <li> <a href="#"> Home </a> </li>
          <li> <a href="#"> About Us </a> </li>
          <li> <a href="#"> Services </a> </li>
          <li> <a href="#"> Terms  </a> </li>
          <li> <a href="#"> Policies </a> </li>
          <li> <a href="#"> List your Site </a> </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footerbottom">
    <div class="container">
      <div class="col-sm-7">
        <p>
          <strong>
            Copyright 2015
          </strong>
          RRRK Associates.com, All rights reserved.
          <strong>
            by RRRK Associates
          </strong>
        </p>
      </div>
      <div class="col-sm-5 ">

      </div>
    </div>
  </div>
</footer>