.price-card {
  padding: 15px;
}
input[type=text], input[type=password] {
  height: 40px;
  border: 1px solid #dddddd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.nav>li>a {
  background-color: #eee;
  margin-top: 5px;
}
.nav-pills>li>a>.badge {
  letter-spacing: 1px;
}
.panel-title {
  display: inline;font-weight: 400;
  cursor: pointer;
}
.checkbox.pull-right { margin: 0; }
.pl-ziro { padding-left: 0; }
label {
  display: block;
}
.address-input {
  float: left;
}
.address-input input[type='radio']:after {
  width: 22px;
  height: 22px;
  border-radius: 15px;
  top: -4px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
  outline: none;
}

.address-input input[type='radio']:checked:after {
  width: 22px;
  height: 22px;
  border-radius: 15px;
  top: -4px;
  left: -1px;
  position: relative;
  background-color: #2874f0;
  content: '';
  display: inline-block;
  visibility: visible;
  outline: none;
  border: 2px solid white;
}
.address-title {
  font-size: 14px;
  margin-right: 10px;
  margin-left: 13px;
}
.address {
  margin: 10px 0 10px 28px;
}
