<div class="container">
  <br>
  <div class="row">
    <div class="col-lg-4">
      <div class="alert-danger alert" *ngIf="userInfo">
        Last password updated on {{ appService.dateFormat(userInfo['password']['last_password_updated_date']) }}
      </div>
      <form (submit)="changePassword(cForm.value)" #cForm="ngForm">
        <!--<div class="form-group">-->
          <!--<label>Current password</label>-->
          <!--<input type="password" placeholder="Current password" class="form-control">-->
        <!--</div>-->
        <div class="form-group">
          <label>New password</label>
          <input type="password" #new_password="ngModel" ngModel placeholder="New password" name="new_password" class="form-control">
        </div>
        <div class="form-group">
          <label>Re-enter password</label>
          <input #cPassword="ngModel" ngModel type="password" placeholder="Re-enter password" name="cPassword" class="form-control">
        </div>
        <div class="alert" [ngClass]="((new_password.dirty && cPassword.dirty) && (new_password.value !== cPassword.value)) ? 'alert-danger' : 'alert-success'"
             *ngIf="(new_password.dirty && cPassword.dirty)">
          Password {{ ((new_password.dirty && cPassword.dirty) && (new_password.value !== cPassword.value)) ? 'do not match!' : 'Matched!' }}
        </div>

        <div class="form-group">
          <button type="submit" [disabled]="(new_password.dirty && cPassword.dirty) && (new_password.value !== cPassword.value)"
                  class="btn btn-primary">Submit</button> &nbsp;
          <button type="reset" class="btn btn-default">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
