<div class="container">
  <br>
  <!-- Popular Section -->
  <div class="heading-bar">
    <h5 class="text-uppercase"><b>Most Popular Books</b></h5>
    <span class="h-line"></span>
  </div>
  <div class="genre flex-center">
    <div class="genre-item popular-genre-item flex-center" routerLink="/book_details/{{i.book_url}}/{{ i.ISBN_13 }}"
         *ngFor="let i of booksList; let index = index">
      <div class="genre-item-img">
        <img src="{{ i.image_thumbnail }}" alt="{{ i.book_title }}">
      </div>
      <div class="genre-item-text">
        <h5><a routerLink="/book_details/{{i.book_url}}/{{ i.ISBN_13 }}">{{ i.book_title }}</a></h5>
        <h6>By <span *ngFor="let author of i.book_authors"><a href="">{{ author }}</a>,&nbsp;</span></h6>
      </div>
    </div>
  </div>
  <!-- End of Popular Section -->
  <br />
  <section>
    <h4 class="text-center">Hear what’s trending for reading in a while.!</h4>
    <hr>
    <div class="flex-center grid-view">
      <div class="grid-view-item" routerLink="/book_details/{{ item.book_url }}/{{ item.ISBN_13 }}"
           *ngFor="let item of booksList; let index = index;">
        <div class="grid-view-item-img flex-center">
          <img src="{{ item.image_thumbnail }}" alt="">
        </div>
        <div class="grid-view-item-text">
          <h5><a routerLink="/book_details/{{ item.book_url }}/{{ item.ISBN_13 }}">{{ item.book_title }}</a></h5>
          <h6 class="author">By <span *ngFor="let author of item.book_authors"><a href="">{{ author }}</a>, &nbsp;</span></h6>
        </div>
      </div>
    </div>
    <div class="text-center show-more bottom-30">
      <a routerLink="/search" class="btn btn-md btn-danger text-uppercase show-more-btn">
        Show more &nbsp;<i class="fa fa-arrow-right"></i>
      </a>
    </div>
  </section>
</div>
