
<div class="container">
  <br>
  <div class="row">
    <div class="col-md-9">
      <!-- Nav tabs -->
      <div class="card">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation">
            <a routerLink="/profile/settings" routerLinkActive="active">
              <i class="fa fa-product-hunt"></i>&nbsp;
              Profile Settings
            </a>
          </li>
          <li role="presentation">
            <a routerLink="/profile/shipping" routerLinkActive="active">
              <i class="fa fa-address-card"></i>&nbsp;
              Shipping Address
            </a>
          </li>
          <li role="presentation">
            <a routerLink="/profile/membership" routerLinkActive="active">
              <i class="fa fa-user-circle"></i>&nbsp;
              Membership
            </a>
          </li>
          <li role="presentation">
            <a routerLink="/profile/change-password" routerLinkActive="active">
              <i class="fa fa-gear"></i>&nbsp;
              Change Password
            </a>
          </li>
          <li role="presentation">
            <a routerLink="/profile/my-orders" routerLinkActive="active">
              <i class="fa fa-first-order"></i>&nbsp;
              Orders
            </a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="home">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<br><br><br><br><br><br><br><br>
