/* You can add global styles to this file, and also import other style files */
body {
  background-color: #FFFFFF;
  font-size: 14px !important;
}
.card {
  border: 1px solid #EEEEEE;
}
.req-ecopy, .req-ecopy:hover, .req-ecopy:active, .req-ecopy:focus {
  margin-left: 20px;
  border-color: #333 !important;
  background: #333 !important;
}
.book-cost {
  color: #7a7a7a;
  margin-bottom: -3px;
}
.card-header {
  background: #FFFFFF !important;
}
.places {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
}
.places li {
  float: left;
}
.place {
  position: relative;
  display: inline-block;
  margin: 0 10px 10px 0;
  padding: 0 20px 0 23px;
  height: 26px;
  border-radius: 3px 0 0 3px;
  background: #F3F3F3;
  color: #000;
  text-decoration: none;
  font-size: 14px;
  line-height: 26px;
  -webkit-transition: all .4s;
}
.place::after {
  position: absolute;
  top: 0;
  right: 0;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #EFF1F5;
  background: #fff;
  content: '';
  -webkit-transition: all .4s;
}
.none {
  display: none !important;
}
.book-details-checkout, .book-details-checkout:hover {
  background-color: #FF4081 !important;
  border: 1px solid #FF4081 !important;
  /*-webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26), inset 1px 1px 0 0 hsla(0, 0%, 100%, .2);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26), inset 1px 1px 0 0 hsla(0, 0%, 100%, .2);*/
}
div.panel.card {
  margin-bottom: 10px !important;
}
.panel-footer {
  background-color: #ffffff !important;
}
#toast {
  visibility: hidden;
  min-width: 250px;
  color: #fff;
  padding: 16px;
  position: fixed;
  z-index: 1;
  right: 20px;
  top: 5%;
}
#toast.green {
  background-color: green;
}
#toast.red {
  background-color: red;
}
#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}
@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 5%; opacity: 1;}
}

@keyframes fadeout {
  from {top: 5%; opacity: 1;}
  to {top: 0; opacity: 0;}
}
input[type=password], input[type=text], select.form-control, input[type=email], input[type=number] {
  height: 40px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  outline: none;
  border: 1px solid #dddddd;
}
.form-control:focus {
  border-color: #dddddd !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none !important;
}

